fastapi==0.110.2

#Uvicorn is an ASGI (Asynchronous Server Gateway Interface) web server implementation for Python.
uvicorn[standard]==0.29.0

#Streaming uploads for large files.
python-multipart==0.0.9  
python-dotenv==1.0.1
